<div class="w-[310px] h-[73px] my-3">

  <!-- dati del profilo -->
  @if (!isEditing()) {
    <button
      type="button"
      (click)="enableEdit()"
      [disabled]="disabled()"
      class="w-[310px] h-[73px] bg-[#F5F2DF] border-4 border-[#312244] shadow-[6px_6px_0px_#312244] px-3 font-['Rubik'] text-[13px] leading-[15px] text-[#4A335D] flex items-center justify-between text-left transition-transform active:translate-y-[2px] active:shadow-[4px_4px_0px_#312244] disabled:opacity-90 disabled:cursor-default cursor-pointer"
    >
      <span class="truncate font-medium font-['jersey_20'] text-[25px] leading-[18px] text-[#000000]">
        {{ value || placeholder() }}
      </span>

    </button>
  }

  <!-- modifica dei dati del profilo -->
  @else {
    <input
      #inputEl
      type="text"
      [value]="value"
      (input)="onInputChange(inputEl.value)"
      (blur)="disableEdit()"
      (keyup.enter)="disableEdit()"
      [placeholder]="placeholder()"
      class="w-[310px] h-[73px] bg-[#F5F2DF] border-4 border-[#312244] shadow-[6px_6px_0px_#312244] px-3 font-['jersey_20'] text-[25px] leading-[18px]  text-[#4A335D] placeholder-[#4A335D]/60 focus:outline-none"
    />
  }

</div>