<div class="w-[275px] h-[64px] flex flex-col gap-2">

  <label
    class="font-['Rubik']
           font-bold
           text-[15px]
           leading-[18px]
           text-black"
  >
    {{ label() }}
  </label>

  <input
    [type]="type()"
    [placeholder]="placeholder()"
    [value]="value"
    (input)="onInput($event)"
    (blur)="onTouched()"
    class="w-[275px]
           h-[41px]
           bg-[#FFE9E9]
           border-2
           border-[#450979]
           rounded-[4px]
           px-3
           font-['Rubik']
           text-[13px]
           leading-[15px]
           text-[#4A335D]
           placeholder-[#4A335D]/60
           focus:outline-none"
  />

</div>