<div
  class="relative w-full max-w-sm mx-auto min-h-screen
         flex flex-col justify-between
         bg-[url('assets/wallpaper.jpg')]
         bg-[#fdf8f2]"
>
  <!-- 1. Header -->
  <app-header class="w-full"></app-header>

  <!-- 2. Contenuto centrale -->
  <div
    class="flex flex-col
           items-center
           justify-center
           px-4
           my-auto
           gap-3"
  >
    <!-- Image Card -->
    <app-image-card 
      variant="register" 
      imageSrc="assets/image-card/login.png" 
      label="Jigglypuff">
    </app-image-card>

    <app-form-card title="Bentornato" type="login">
      <form
        [formGroup]="credential"
        (ngSubmit)="onLogin()"   
        class="w-[275px]
               flex
               flex-col
               items-center
               gap-3"
      >
        <app-input
          label="Username"
          placeholder="Popone123..."
          formControlName="username"
          name="username"
        >
        </app-input>

        <app-password-input
          label="Password"
         formControlName="pw"
          name="pw"
        >
        </app-password-input>

        <div class="w-full flex justify-between items-center px-1">
          <app-checkbox 
            label="Ricordami" 
            
            name="rememberMe" 
          />   
          <a
            routerLink="/forgot-password"
            class="text-[#312244] font-bold text-xs"
          >
            Password dimenticata?
          </a>
        </div>
      </form>
    </app-form-card>

    @if (errorMessage()) {
      <span class="error-tooltip bg-red-500 text-white p-2 rounded text-xs text-center w-[275px]">
        {{ errorMessage() }}
      </span>
    }

    <app-button
      [label]="isLoading() ? 'Logging in...' : 'LOGIN'"
      variant="orange"
      (clicked)="onLogin()"
      [disabled]="isLoading()"
    >
    </app-button>

    <div class="flex flex-col items-center text-center my-1">
      <p
        class="font-['Jersey_20']
               text-xs
               text-[#837093]
               flex items-center gap-1"
      >
        Non hai un account?
        <a
          routerLink="/register"
          class="text-[#312244] font-bold"
        >
          Registrati
        </a>
      </p>
    </div>
  </div>  

  <app-footer class="w-full"></app-footer>
</div>