USE [auth_demo]
GO
/****** Oggetto: StoredProcedure [dbo].[Utente_Crea_Modifica]    Data dello script 31/08/2026 11:43:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[Utente_Crea_Modifica]
	@ID INT = NULL, 
	@Username NVARCHAR(50) = NULL,
	@Pw VARCHAR(255) = NULL, 
	@ProfilePicUrl VARCHAR(500) = NULL,
	@Ruolo VARCHAR(20) = NULL,
	@VersioneToken INT = NULL, 
	@Nascosto BIT = 0,
	@Email VARCHAR(255) = NULL
AS 
BEGIN 
	SET NOCOUNT ON; 

	-- Cerca per ID solo se è un ID valido (> 0)
	IF @ID  IS NOT NULL AND @ID  > 0 
	BEGIN 
		SELECT @ID  = [ID]
		FROM [dbo].[utente] 
		WHERE [ID] = @ID AND [Nascosto] = 0;
	END
	ELSE 
	BEGIN
		SELECT @ID  = [ID]
		FROM [dbo].[utente] 
		WHERE [Username] = @Username AND [Nascosto] = 0;
	END

	-- Creo l'utente se non esiste 
	IF @ID  IS NULL OR @ID  = 0
	BEGIN 
		INSERT INTO [dbo].[utente] (
			[Username], 
			[Pw], 
			[ProfilePicUrl], 
			[Ruolo], 
			[VersioneToken],
			[Nascosto],
			[Email]
		)
		VALUES (
			@Username,
			@Pw, 
			@ProfilePicUrl,
			@Ruolo,
			ISNULL(@VersioneToken, 1),
			0,
			@Email
		);

		SET @ID  = SCOPE_IDENTITY();
	END
	ELSE 
	BEGIN 
		UPDATE u 
		SET 
			u.[Username]       = ISNULL(@Username, u.[Username]),
			u.[Pw]             = ISNULL(@Pw, u.[Pw]), 
			u.[ProfilePicUrl]  = ISNULL(@ProfilePicUrl, u.[ProfilePicUrl]), 
			u.[Ruolo]          = ISNULL(@Ruolo, u.[Ruolo]),
			u.[Nascosto]	   = ISNULL(@Nascosto, u.[Nascosto]),
			u.[Email]		   = ISNULL(@Email, u.[Email])
		FROM [dbo].[utente] AS u
		WHERE u.[ID] = @ID ;
	END

	-- Output  
	SELECT @ID  AS [ID];
END
