USE [GamesPopone]
GO
/****** Oggetto: StoredProcedure [dbo].[usp_Utente_OttieniPerId]    Data dello script 10/08/2026 11:26:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Stored Procedure per il Refresh Token (tramite ID)
ALTER   PROCEDURE [dbo].[usp_Utente_OttieniPerId]
    @IDUtente INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        ID,
        Username,
        Pw AS Pw,              -- Mappiamo 'Pw' su 'Password'
        ProfilePicUrl AS ImageProfile,
        Ruolo,
        VersioneToken
    FROM 
        dbo.Auth
    WHERE 
        ID = @IDUtente;
END;
