USE [auth_demo]
GO
/****** Oggetto: StoredProcedure [dbo].[Utente_Singolo]    Data dello script 03/09/2026 13:53:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER       PROCEDURE [dbo].[Utente_Singolo]
	@ID INT -- in base all'ID dell'utente, estraggo il suo profilo
AS 
BEGIN 
	SET NOCOUNT ON; 

	-- Cerca l'utente 
	SELECT  
		ID,
		Username,
		Email,
		Ruolo,
		ProfilePicUrl
	FROM 
		dbo.utente
	WHERE 
		ID = @ID
	
END