USE [auth_demo]
GO
/****** Oggetto: StoredProcedure [dbo].[Utente_Crea_Modifica]    Data dello script 22/08/2026 11:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER   PROCEDURE [dbo].[Utente_Ricerca]
	@Query NVARCHAR(100) = NULL
AS 
BEGIN 
	SET NOCOUNT ON; 

	-- Cerca l'utente 
	SELECT 
		ID, 
		Username, 
		Ruolo
	FROM 
		dbo.utente
	WHERE 
		(@Query IS NULL OR Username LIKE '%' + @Query +  '%')
		AND 
		Nascosto = 0
	
END
